<form class="container mt-5" method="post">
    <h1>Dear <span class="text-danger"><%= user.name  %> </span> : 
    </h1>


<div class="row mt-5">
  <div class="form-group col-lg-8 col-sm-10 mx-auto">
    <label for="exampleInputPassword1" class="strong">Current Password  </label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Current **********">
  </div>
</div>

      <% if(errors.length != 0){ %> 
    <% for(let i =0 ; i<errors.length ; i++){
      if(errors[i].param == 'password'){ %>
        <div class="row mb-2">
        <span class="alert alert-warning col-lg-8 col-sm-10 mx-auto ">
          <%=errors[i].msg%>
        </span>
        </div>
        <% break}}}%>


<div class="row">
    <div class="form-group col-lg-8 col-sm-10 mx-auto">
    <label for="exampleInputPassword2" class="strong">New Password  </label>
    <input type="password" name="newPassword" class="form-control" id="exampleInputPassword2" placeholder="New **********">
  </div>
</div>

      <% if(errors.length != 0){ %> 
    <% for(let i =0 ; i<errors.length ; i++){
      if(errors[i].param == 'newPassword'){ %>
        <div class="row mb-2">
        <span class="alert alert-warning col-lg-8 col-sm-10 mx-auto ">
          <%=errors[i].msg%>
        </span>
        </div>
        <% break}}}%>


<div class="row">  
    <div class="form-group col-lg-8 col-sm-10 mx-auto">
    <label for="exampleInputPassword1" class="strong"> Verify  </label>
    <input type="password" name="confirmPassword" class="form-control" id="exampleInputPassword1" placeholder="Verify ***********">
  </div>
</div>

      <% if(errors.length != 0){ %> 
    <% for(let i =0 ; i<errors.length ; i++){
      if(errors[i].param == 'confirmPassword'){ %>
        <div class="row mb-2">
        <span class="alert alert-warning col-lg-8 col-sm-10 mx-auto ">
          <%=errors[i].msg%>
        </span>
        </div>
        <% break}}}%>

    <div class="d-flex justify-content-center mt-4">
      <button type="submit" class="btn d-block w-50  btn-primary">Submit</button>
    </div>

</form>